<div>
  <h2>
    <span>Appointments</span>
    <button (click)="open(content)" class="btn btn-primary float-right create-appointment">
      <span class="fa fa-plus"></span>
      <span>Create New Appointment</span>
    </button>
  </h2>

  <div class="row"></div>
  <br />
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>Reason</span></th>
          <th><span>Insurance Change</span></th>
          <th><span>Phone Number</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dat of data">
          <td>{{ dat.id }}</td>
          <td>{{ dat.name }}</td>
          <td>{{ dat.username }}</td>
          <td>{{ dat.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Appointment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="reason">Reason</label>
        <div class="input-group">
          <input id="reason" class="form-control" placeholder="you reason" name="dp" />
          <div class="input-group-append"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="insuranceChange">Insurance Change</label>
        <div class="input-group">
          <input id="insuranceChange" class="form-control" placeholder="Your Insurance change" name="dp" />
          <div class="input-group-append"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <div class="input-group">
          <input id="phoneNumber" class="form-control" placeholder="0912..." name="dp" />
          <div class="input-group-append"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
