<div>
  <h2>
    <span>Appointments</span>
    <button
      class="btn btn-primary float-right create-appointment"
      [routerLink]="['/', { outlets: { popup: ['patient-appointments-new'] } }]"
    >
      <span class="fa fa-plus"></span>
      <span>Create New Appointment</span>
    </button>
  </h2>

  <div class="row"></div>
  <br />
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>Reason</span></th>
          <th><span>Insurance Change</span></th>
          <th><span>Phone Number</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dat of data">
          <td>{{ dat.id }}</td>
          <td>{{ dat.name }}</td>
          <td>{{ dat.username }}</td>
          <td>{{ dat.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div></div>
</div>
